@model IEnumerable<POneTest2.Models.Drbob>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/DrBobStyle.css")

<img src="~/Content/images/Doctor.jpg"  class="navbar navbar-inverse navbar-fixed-top Drimage"/>

<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6 Mainsection">

        <h2 class="text-center">Dr.Bob's Information from Database</h2>
        @foreach (var item in Model)
        {
            <p>@item.Id </p>
            <p>FirstName:  @item.FirstName</p>
            <p>LastName:  @item.LastName</p>
            <p>Address:  @item.Address</p>
            <p>StaffFullName:  @item.StaffFullName</p>
        }
            <div class="darkSide">Dr Bob is a Doctor. </div>

    </div>
    <div class="col-md-3"></div>
</div>